@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arimo;
}
header{
    position: relative;
    width: 100%;
}
header .nav{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 31px 200px 42px 200px;
    font-size: 11.92px;
    font-weight: 400;
    line-height: 19.6px;
    color: #FFFFFF;
    gap: 37px;
}
.videos{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
}
.video2{
    top: 100vh;
}
.video3{
    top: 200vh;
}
.video6{
    top: 300vh;
}
.video4{
    top: 400vh;
}
.video5{
    top: 500vh;
}
.container{
    padding: 0px 726px 0px 310px;
    position: relative;
}
.section1{
    position: relative;
    margin-top: 437px;
}
.section2{
    position: relative;
    margin-top: 607px;
}
.section3{
    position: relative;
    margin-top: 617px;
}
.section4{
    position: relative;
    margin-top: 517px;
}
.section5{
    position: relative;
    margin-top: 617px;
}
.section6{
    position: relative;
    margin-top: 617px;
}
.cont-launch{
    font-size: 17.19px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
}
.cont-misson{
    margin-top: 4.5px;
    font-size: 41.06px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
}
.cont-watch{
    margin-top: 18px;
    font-size: 12.91px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    padding: 0px 42px 0px 42px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}